@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (TempData["Username"] != null)
    {
        <b class="display-6">Вітаємо, @TempData["Username"]</b>
    }
    else
    {
        <h1>Вітаємо! </h1>
    }
    
        <p>Шаблон головної сторінки сервісу</a></p>

    
</div>
