@model KNUAuthWeb.Models.editModel

@{
    ViewBag.Title = "Видалення профілю";
}

<h2>Видалення профілю</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    <style>

        table {
            border-collapse: collapse;
        }

        td {
            padding: 10px;
            text-align: center;
        }
    </style>
    <h1>УВАГА!</h1>
    <h2>Чи підтверджуєте ви видалення профілю?</h2>
    <table>
        <th>
                <form asp-controller="profile" asp-action="delete" method="post">
                    <button class="kbutton" type="submit" style="width:auto; color:red;"><b>Підтвердити</b></button>
                </form>
        </th>
        <th>
            <form asp-controller="profile" asp-action="index" method="get">
                <button class="kbutton" type="submit" style="width:auto; color:green;"><b>Відхилити</b></button>
            </form>
        </th>
    </table> 




}
