@model KNUAuthWeb.Models.newPasswordModel

@{
    ViewBag.Title = "Зміна паролю";
}
<h2>Зміна паролю</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    <style>

        table {
            border-collapse: collapse;
        }

        td {
            padding: 10px;
            text-align: center;
        }
    </style>
    <table>
        <hr style="width:250px">
        <tr>
            <div>
                Старий пароль
            </div>
            <div>
                @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "input" })
            </div>
        </tr>
        <tr>
            <div>
                Новий пароль
            </div>
            <div>
                @Html.PasswordFor(m => m.newPassword, htmlAttributes: new { @class = "input" })
            </div>
        </tr>
        <tr>
            <div>
                Перевірка паролю
            </div>
            <div>
                @Html.PasswordFor(m => m.newPasswordCheck, htmlAttributes: new { @class = "input" })
            </div>
        </tr>
        <br>
        @TempData["Error"]
        <hr style="width:250px">
        <tr>
                <button class="kbutton" type="submit"><img src="~/src/img/gerb3.png" alt="Иконка">Змінити пароль</button>
        </tr>
    </table>
    

}

