@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <p>
        @using (Html.BeginForm(FormMethod.Post))
        {
            @if (TempData["user"] == null)
            {
                <H1>Увійти за допомогою</H1><br>
                <button class="kbutton" type="submit" style="">
                    <img src="https://hotducks.org/src/img/gerb3.png" alt="Иконка">KNUAuth
                </button>
            }
            else if (@TempData["user"] != null){
                <H1>Вітаємо</H1> @TempData["user"]

                <br>
            }
        }
    </p>
</div>
