@{
    ViewData["Title"] = "View Profile";
}

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="text-center">
        <h3>Увага!</h3><br>
        <h6>Буде надано наступний дозвіл:</h6> @TempData["scope"]
        <br>
        <button type="submit">Надати</button>
    </div>
}
@* <div class="text-center">
    @if (TempData["id"] == null)
    {
        <a class="nav-link text-dark" asp-area="" asp-controller="oauth" asp-action="login">[ Авторизуватись ]</a>
    }
    else
    {
        <form method="post" action="@Url.Action("index", "home")">
            <button type="submit">Вийти</button>
        </form>
    }
</div> *@
