@{
    ViewData["Title"] = "Надати доступ";
}


    <div>
        <h3>Увага!</h3><br>
        <hr style="width:250px">
        <h6>Буде надано наступний дозвіл:</h6><br> @TempData["scope"]
        <br>
        <hr style="width:250px">
        <table>
        <th>
            <form method="post" action="@Url.Action("grant", "oauth")">
                <button class="kbutton" type="submit"><b>Надати</b></button>
            </form>
        </th>
        <th>
            <form method="get" action="@Url.Action("index", "profile")">
                <button class="kbutton" type="submit">Не надавати</button>
            </form>
        </th>
        </table>
    </div>
