@{
    ViewData["Title"] = "Надати доступ";
}

@using (Html.BeginForm(FormMethod.Post))
{
    <div>
        <h3>Увага!</h3><br>
        <hr style="width:250px">
        <h6>Буде надано наступний дозвіл:</h6> @TempData["scope"]
        <br>
        <hr style="width:250px">
        <button class="kbutton" type="submit">Надати</button>
        <form method="get" action="@Url.Action("index", "profile")">
            <button type="submit">Не надавати</button>
        </form>
    </div>
}
